.article {
    margin: 0.5em auto;

    &__category {
        @include main-column;
        @include tagline;

        margin-bottom: 0.25rem;
    }

    &__headline {
        @include main-column;
        
        margin-top: 1rem;
        margin-bottom: 0;
    }

    &__summary {
        @include main-column;

        margin-top: 0;
        margin-bottom: 1rem;
    }

    &__date {
        @include main-column;
        @include font-s;

        margin-bottom: 1rem;
    }

    &__poster {
        img {
            max-height: 600px;
        }
    }

    &__poster,
    &__wrapper p,
    &__wrapper h2,
    &__wrapper h3,
    &__wrapper pre {
        @include main-column;
    }

    &__wrapper a {
        @include link;
    }

    &__wrapper h2,
    &__wrapper h3 {
        margin-top: 2rem;
    }

    &--preview {
        .figure__img {
            margin: 0;
        }
    }
}
