.header {
    @include main-column;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    letter-spacing: 1px;
    border-bottom: 2px solid #{$accent};

    @media (min-width: 600px) {
        margin: 0.5em auto;
        padding-bottom: 0.25em;
    }

    &__gohome {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 0 1 auto;
        padding: 0;
        text-decoration: none;

        @media (min-width: 600px) {
            padding-bottom: 0;
        }
    }

    &__spacer {
        flex: 1 0 100px;
    }

    &__logo {
        display: inline-block;
        width: auto;
        height: 2rem;
        margin: 0.5rem;
    }

    &__title {
        @include font-m;

        display: inline-block;
        flex: 0 1 100%;
        margin: 0 auto;
    }

    &__menu {
        margin: 0.5rem 0;
        align-self: center;
    }

    &__menu-item {
        @include font-m;

        padding: 0.5rem;
    }
}
