.header {
    @include main-column;

    display: flex;
    padding-bottom: 1em;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 600px) {
        margin: 0.5em auto;
        padding-bottom: 0.25em;
        border-bottom: 1px solid #88d;
    }

    &__gohome {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 1 0 auto;
        padding: 0;
        padding-bottom: 1em;

        @media (min-width: 600px) {
            padding-bottom: 0;
        }
    }

    &__logo {
        display: inline-block;
        width: auto;
        height: 1.5em;
        margin: 0.5em;
    }

    &__title {
        display: inline-block;
        flex: 0 1 100%;
        margin: 0 auto;
        font-size: 1.25em;
    }
}
