$background: #001;
$color: #ddd;
$accent: #779;
$color-active: #ddf;
$color-disabled: #ccc;
$background-active: #223;

@import './foundation.scss';
@import './header.scss';
@import './footer.scss';

@import './article.scss';

.main {
    min-height: 100vh;
}
