@mixin main-column {
    margin: 0.5rem auto;
    max-width: 1280px;
}

@mixin serif {
    font-family: Merriweather, 'Times New Roman', Times, serif;
}

@mixin sans-serif {
    font-family: OpenSans, Verdana, Helvetica, sans-serif;
}

@mixin monospace {
    font-family: UbuntuMono, Inconsolata, monospace;
}

@mixin link {
    color: $color;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
        color: $color-active;
        text-decoration: underline;
    }

    &:visited {
        color: $color-visited;
    }

    &--nofocus:focus,
    &--nofocus:hover,
    &--nofocus:active {
        text-decoration: none;
    }

    &--nofocus:visited {
        color: $color;
    }
}

@mixin font-xl {
    font-size: 2rem;
    line-height: 2.5rem;
}

@mixin font-l {
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin font-m {
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin font-s {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@mixin font-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

@mixin tagline {
    @include font-s;
    @include sans-serif;

    display: block;
    text-transform: uppercase;

    span {
        padding: 0.25rem;
        border-bottom: 2px solid #{$accent};
    }
}
