@mixin main-column {
    margin: 0.5rem auto;
    max-width: 900px;
}

@mixin serif {
    font-family: Palatino, "Times New Roman", serif;
}

@mixin link {
    color: $color-active;
    text-decoration: none;
    font-weight: bold;

    &:focus,
    &:hover,
    &:active {
        color: $color-active;
        text-decoration: underline;
    }

    &:visited {
        color: $color-visited;
    }
}

@mixin font-xl {
    font-size: 2rem;
    line-height: 2.5rem;
}

@mixin font-l {
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin font-m {
    font-size: 1.125rem;
    line-height: 1.375rem;
}

@mixin font-s {
    font-size: 1rem;
    line-height: 1.25rem;
}

@mixin font-xs {
    font-size: 0.875rem;
    line-height: 1rem;
}

