body {
    background: #224;
    color: #ddd;
    font-size: 16px;
    font-family: Verdana, Helvetica;
    letter-spacing: 2px;
}

.header {
    display: flex;
    margin: 0.5em 1em;
    flex-flow: row;
    align-items: center;
}

.header__gohome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;
}

.header__logo {
    display: inline-block;
    width: auto;
    height: 1.5em;
    margin: 0.5em;
    margin-right: 1em;
}

.header__title {
    display: inline-block;
    flex: 0 1 100%;
    margin: 0 auto;
    font-size: 1em;
}

.main {
    min-height: 100vh;
}

.footer {
    display: block;
    margin: 0.5em auto;
    max-width: 800px;
    font-size: 0.75em;
    text-align: center;
}

.nav {
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    border: solid 1px transparent;
    color: #ddd;
    text-decoration: none;
    transition: background-color 200ms ease-out;
}

.nav--nofocus {
    border: 0;
    background: transparent;
}

.nav:focus,
.nav:hover,
.nav:active {
    border: solid 1px #555;
    background: #448;
}

.nav--nofocus:focus,
.nav--nofocus:hover,
.nav--nofocus:active {
    border: 0;
    background: transparent;
}

.spacer {
    flex: 1 0 auto;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: strikethrough;
}
